
@{
    ViewData["Title"] = "List";
    var currencies = ViewData["currencies"] as ICollection<CurrencyExchange.DTO.DailyCurrency>;
}

<div id="exchange-form-list">
    <table class="table table-borderd table-hover">
        <thead>
            <tr>
                <td>Name</td>
                <td>Rate</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in currencies)
            {
                <tr>
                    <td id="name">@item.Name</td>
                    <td>@item.Rate</td>
                </tr>

            }
        </tbody>

    </table>
</div>