
@{
    ViewData["Title"] = "Statistic";
    var currencies = ViewData["currencies"] as ICollection<CurrencyExchange.DTO.DailyCurrency>;
}


<div id="exchange-form-statistic">
    <h2>Statistic</h2>

    <label>Select Country</label>
    <select id="Filter">
        @foreach (var item in currencies)
        {
            <option>@item.Name</option>
        }
    </select>
    <label>Select graph type</label>
    <select id="GraphType">
        <option>Line</option>
        <option>Bar</option>
    </select>

    <div id="graph">
        <canvas id="myChart" width="600" height="600"></canvas>
    </div>
    </div>