
@{
    ViewData["Title"] = "Statistic";
    var currencies = ViewData["currencies"] as ICollection<CurrencyExchange.DTO.DailyCurrency>;
}

<h2>Statistic</h2>

<label>Select Country</label>
<select id="Filter">
    @foreach (var item in currencies)
    {
        <option>@item.Name</option>
    }
</select>
<label>Select graph type</label>
<select id="GraphType">
    <option>Line</option>
    <option>Bar</option>
</select>

<canvas id="myChart" width="400" height="400"></canvas>

